<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
{#<template id="box">#}
  <el-button type="text" @click="open" id="box">点击打开 Message Box</el-button>
{#</template>#}

</body>

<script src="{{ url_for('static', filename='js/vue.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script>
 new Vue({
     el: '#box',
    methods: {
      open() {
            this.$alert('这是一段内容', '标题名称', {
          confirmButtonText: '确定',
          callback: action => {
            this.$message({
              type: 'info',
              message: `action: ${ action }`
            });
          }
        });
      }
    }
  })
</script>
</html>