{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-color: #9c9c9c30;
        }

        .card {
            margin: 10px;
            z-index: -1;
        }

        .con {
            padding-top: 66px;
        }
    </style>
{% endblock %}
{% block content %}
    {% include '_navbar.html' %}
    <div class="con">
        {% for blog in blogs %}
            <div class="card bg-light mb-3" style="max-width: 18rem; float: left;">
                <div class="card-header">{{ blog.author }}{{ blog.create_time }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <p class="card-text">{{ blog.content | truncate(60) }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}