{% extends "base.html" %}
{% block title %}首页{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blog_add.css' ) }}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

    </style>
{% endblock styles %}

{% block script %}
    {#    <script type="application/javascript">#}
    {#        $.ajax({#}
    {#            url: '/getblog/1',#}
    {#            type: 'get',#}
    {#            success: function (data) {#}
    {#                $('.title').append(data.title);#}
    {#            }#}
    {#        });#}
    {#    </script>#}
{% endblock %}

{% block content %}
    <form action="/blog/add" method="POST">
        {{ form.hidden_tag() }}
        {% from "macros.html" import form_field %}
            {{ form_field(form.title) }}<br>
            {{ form_field(form.author) }}<br>
            {{ form_field(form.content) }}<br>
            {{ form.submit() }}
{#        {{ form.title.label() }}#}
{#        {{ form.title() }}<br>#}
{#        {{ form.author.label() }}#}
{#        {{ form.author() }}#}
{#        {% for msg in form.author.errors %}#}
{#        <div class="error" style="color: red">{{ msg }}</div>#}
{#        {% endfor %}<br>#}
{##}
{#        {{ form.content.label() }}#}
{#        {{ form.content() }}#}
{#        {% for msg in form.content.errors %}#}
{#        <div class="error" style="color: red">{{ msg }}</div>#}
{#        {% endfor %}<br>#}
{##}
{#        {{ form.submit() }}#}
{#        <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">#}
{#        <label for="title">请输入文章标题：</label>#}
{#        <input type="text" name="title" id="title" class="form-control form-control-lg"><br>#}
{#        <label for="author">请输入文章作者：</label>#}
{#        <input type="text" name="author" id="author" class="form-control form-control-lg"><br>#}
{#        <label for="content">请输入文章内容：</label>#}
{#        <textarea name="content" id="content" class="form-control"  rows="3" cols="50"></textarea><br>#}
{#        {% for msg in get_flashed_messages() %}#}
{#        <div>{{ msg }}</div><br>#}
{#        {% endfor %}#}
{#        <input type="submit" value="发布">#}
    </form>
{% endblock %}