{% extends "base.html" %}
{% block title %}登录{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% endblock styles %}

{% block script %}
{% endblock %}

{% block content %}
    <form action="/login" method="POST">
        {{ login_form.hidden_tag() }}
        {% from "macros.html" import form_field %}
            {{ form_field(login_form.phone) }}<br>
            {{ form_field(login_form.pwd) }}<br>
            {{ login_form.submit() }}
        {% for msg in get_flashed_messages() %}
        {{ msg }}
        {% endfor %}
        <div>忘记密码？<a href="/register">立即注册</a></div>
    </form>
{% endblock %}