<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>blog-{% block title %}lemon{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css' ) }}">
    <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>

    {% block styles %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>