{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}

{% block content %}
    {% for i in range(2) %}
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>{{ blogs[0].title }}</span>
                <el-button style="float: right; padding: 3px 0" type="text">查看全文</el-button>
            </div>
            <div v-for="o in 1" :key="o" class="text item">
                {#            {{ '列表内容 ' + "o1" }}#}
                {{ blogs[0].author }}{{ blogs[0].create_time }}<br>
                {{ blogs[0].content | truncate(20) }}<br>
            </div>
        </el-card>
    {% endfor %}
{% endblock %}
{% block endscript %}
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script>
        new Vue({
            el: '.box-card',
            data: function () {
                return {visible: true}
            }
        });
    </script>
{% endblock %}